body {
    margin: 20;
    padding: 0;
    font-family: sans-serif;
  }
  h1 {
    color: rgb(23, 141, 209);
    font-style: italic;
  }
   h2 {
    color: rgb(23, 141, 209);
    font-style: italic;
  }
  .person{
    color: rgb(202, 202, 202);
    padding-top: 5px;
    font-size: 15px;
  }
  .error {
    color: black;
    font-size: 20px;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .notify {
    color: black;
    border-color: green;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  /* .menuContainer{
     margin: 300 !important;
  }
    .nav{
     margin: 300 !important;
  }
  .navbar.navbar-expand{
     margin-left: 200  !important;
  } */
  
  